body {
 width: 100%;
 height: 100%;
 background-color:rgb(226, 235, 241);
}

#signup{
 background-image: url(../static/images/bribe.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

h1{
  text-align:center;
 font-family:cambria;
 font-size:30px;
 color: maroon;
 padding-top:-2%;
 
}

.signup1{
 font-family:cambria;
 font-weight:bold;
 font-size:16px;
 text-align:center;
}

.flex-container{
 display:flex;
 flex-direction: column;
 font-family:cambria;
 font-weight:bold;
 font-size:16px; 
 width:62%;
 margin-left:33%;
 margin-top: 5px;
  
}

.flex-container select{
  padding:10px;
  border:1px solid  rgb(87, 84, 81);
  margin-top:10px;
  border-radius:10px;
  font-family:cambria;
  font-weight:bold;
  width:53%;
}

.flex-container a{
 border-radius:12px;
 border:1px solid rgb(202, 169, 188);
 padding-top:5px;
 padding-bottom:5px;
 background-color:rgb(172, 192, 223);
 font-size:16px;
 margin-top:1%;
 width:180px;
 transition: 0.3s;
 font-family: cambria;
 margin-left:100px;
 text-decoration: none;
 color:black;
 font-weight:bold;
 padding-left:40px;
   
}

 .flex-container a:hover {
 opacity: 1;
 background-color:palegreen;
} 

 .feet{
  font-family:cambria;
  padding-left:16px;
  padding-top:30px;
  font-size:15px;
  
 }

 input{
  margin-top:8px;
  padding:10px;
  margin-bottom:5px;
  border-radius:20px;
  border:1px solid rgb(87, 84, 81);
  width:50%;
  
 }

 #home{
  background-image: url(../static/images/bribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }

   
  .pen1{
   font-family:cambria;
   font-size:20px;
   font-weight:bold;
   text-align:center;
   padding-top:20px;
   padding-right:90px;
   
  }

  .page a{
   border:1px solid rgb(214, 201, 173);
   border-radius:30px;
   transition: 0.3s;
   background-color: rgb(226, 167, 79);
   padding:10px;
   font-family:cambria;
   font-weight:bold;
   font-size:16px;
   text-decoration:none;
   font-family:cambria;
   font-weight:bold;
   font-size:16px;
   color:black;
    
    
  }
  .page a:hover {
   opacity: 1;
   background-color:rgb(223, 194, 99);
   
  }
  
  .page{
   font-family:cambria;
   font-size:20px;
   font-weight:bold;
   margin-left:40%;
   padding-top:10px;
   
      
  }

  .page p{
   padding-top:5px;
   padding-bottom:8px;
  }

  .move3{
   padding-left:50px;
 }
 
 .move5{
   padding-left:20px;
 }

 .foot{
  font-family:cambria;
  padding-left:16px;
  padding-top:230px;
  font-size:15px;
  margin-top:2%;
 }

 #signin{
   background-image: url(../static/images/bribe.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  }
 h2{
  font-family:cambria;
  font-size:20px;
  margin-top:5px;
  text-align:center;
 }
 .well1 input{
  border:1px solid purple;
   }

  .well1{
   display:flex;
   flex-direction: column;
   font-family:cambria;
   font-weight:bold;
   font-size:16px; 
   width:62%;
   margin-left:33%;
   margin-top: 5px;
   padding-top:10px;
  }

  .well1 select{
    padding:10px;
    border:1px solid purple;
    margin-top:8px;
    border-radius:10px;
    font-family:cambria;
    font-weight:bold;
    
  }

 .well1 button{
 border-radius:10px;
 border:1px solid rgb(91, 102, 96);
 padding-top:5px;
 padding-bottom:5px;
 background-color:rgb(90, 147, 170);
 font-size:16px;
 margin-top:2%;
 width:180px;
 transition: 0.3s;
 font-family: cambria;
 margin-left:100px;

 }
 .well1 button:hover {
  opacity: 1;
  background-color:plum;
 }

 
 .well1 a{
 text-decoration: none;
 font-family:cambria;
 padding:3px;
 color:red;
 font-weight:bold;
 } 

 .well1 p{
  padding-left:232px;
  padding-top:3px;
  margin-top:-3%;
}

.tea{
  padding-top:50px;
  margin-left: -22%;
}

.endfooter{
 padding-top:185px;
}

.menu{
  padding-top:5px;
  
}

.menu ul{
  list-style-type: none;
  background-color:#7fb5da;
  overflow:hidden;
  height:60px;
  margin-top:1px;
  
 }

.menu ul li a{
 display:block;
 float:left;
 text-decoration:none;
 padding-right: 40px;
 padding-top: 20px;
 font-family:cambria;
 font-weight:bold;
 font-size:18px;
 color:black;

}

.menufoot{
  margin-top:440px;
}

.flag{
  font-family: cambria;
  padding-left:10px;
  font-weight:bold;
  font-size:20px;
  padding-left:500px;
  
}

#table-wrapper {
  overflow-x: auto;
}
 .flag1 table{
  margin-right: 20px;
  color: black;
  border: 2px solid rgb(0, 41, 128);
  border-radius: 4px;
  padding: 20px;
  width:65%;
  font-family: Cambria;
  font-size:15px;
  background-color:rgb(245, 222, 179, 0.4); 
  margin-left:12%; 
  margin-top:1%;
  border-collapse:collapse;
  border-right:1px solid black;
      
 }
 .flag1 td,th{
  padding: 8px;
  font-family: Cambria;
  font-size:15px;
  border-bottom:1px solid black; 
  border-left:1px solid black;
  border-right: 1px solid black;
  text-align:left;
  
  }

  .flag1 table button{
  font-size: 12px;
  padding: 10px 24px;
  font-family: cambria;
  border-radius: 4px;
  border: 2px solid royalblue;
  
 }
.recs{
  margin-top:2%;
}

.intervene table{
  margin-right: 20px;
  color: black;
  border: 2px solid rgb(0, 41, 128);
  border-radius: 4px;
  padding: 20px;
  width:65%;
  font-family: Cambria;
  font-size:15px;
  background-color:rgb(245, 222, 179, 0.4); 
  margin-left:12%; 
  margin-top:1%;
  border-collapse:collapse;
  border-right:1px solid black;
      
 }
 .intervene td,th{
  padding: 8px;
  font-family: Cambria;
  font-size:15px;
  border-bottom:1px solid black; 
  border-left:1px solid black;
  border-right: 1px solid black;
  text-align:left;
  
}

.recs1{
  margin-top:15%;
}

.photo{
  padding-left:20px;
  float:left;
  margin-top:0%
}

.photo1{
  padding-left:20px;
  font-family:cambria;
  font-weight:bold;
  padding-top:2px;
}

.list{
  font-family:cambria;
  font-size:15px;
  font-weight:bold;
  width:50%;
  float:left;
  color:black;
  margin-left:-23%;
  margin-top:-2%
}

.list p{
  padding-left:200px;
  padding-right:10px;
  margin-top: -22px;
}

.count{
  float: right;
  padding-right:5%;
  font-family: cambria;
  font-weight:bold;
  margin-top:2%;
       
}

.counter1,.counter2{
 float: right;
 margin-right: 20px;
 color: black;
 border: 1px solid rgb(187, 26, 47);
 border-radius: 4px;
 padding: 5px;
}

.counter,.count1{
  color:black;
}

.set{
  padding-left:160px;
  padding-top:30%;
  padding-bottom:6px;
  margin-top:1%
}


 .fill{
  font-family: cambria;
  font-weight: bold;
  font-size: 16px;
     
 }

 .fill1{
   font-family:cambria;
   font-weight:bold;
   font-size:16px;
   padding-left:1px;
   float:left;
   padding-top:10%;
   margin-right:10%;
   margin-left:-18%;
   width:25%;
   
   
  }
    
  .fill1 button{
    padding:10px;
    border:1px solid rgb(119, 128, 0);
    font-family:cambria;
    font-weight:bold;
    border-radius:8px;
    margin-top:8%;
    margin-left:50px;
 
 
  }
  .fill2{
    font-family: cambria;
    font-weight: bold;
    font-size:16px;
    float:right;
    padding-right:400px;
    padding-top:3px;
       
  }
 
  .fill3{
   font-family:cambria;
   font-weight:bold;
   font-size:16px;
   float:right;
   padding-right:85px;
   padding-bottom:150px;
   margin-top: -21%;
 
  }
 
  .fill3 table{
    margin-right: 10px;
    color: black;
    border: 2px solid rgb(0, 41, 128);
    border-radius: 4px;
    padding: 20px;
    width:65%;
    font-family: Cambria;
    font-size:15px;
    background-color:rgb(245, 222, 179, 0.4); 
    margin-left:40%; 
    margin-top:2%;
    border-collapse: collapse;
    border-right:1px solid black;
        
 }
 
 .fill3 td,th{
  padding: 8px;
  font-family: Cambria;
  font-size:15px;
  border-bottom:1px solid black; 
  border-left:1px solid black;
  border-right: 1px solid black;
  text-align:left;
 }
 .tablefooter{
   float:left;
   padding-top:-50px;
 }
 
 
table{
  
  margin-right: 20px;
  color: black;
  border: 2px solid rgb(0, 41, 128);
  border-radius: 4px;
  padding: 20px;
  width:65%;
  font-family: Cambria;
  font-size:15px;
  background-color:rgb(245, 222, 179, 0.4); 
  margin-left:12%; 
  margin-top:2%;
  border-collapse: collapse;
  border-right:1px solid black;
      
}

td,th{
padding: 8px;
font-family: Cambria;
font-size:15px;
border-bottom:1px solid black; 
border-left:1px solid black;
border-right: 1px solid black;
text-align:left;

}
table button{
font-size: 12px;
padding: 10px 24px;
font-family: cambria;
border-radius: 4px;
border: 2px solid rgb(78, 94, 143);

}

.bottom{
margin-top:125px;
}

.list2{
  font-family: cambria;
  font-size:16px;
  float:left;
  width:70%;
  padding-right:22%;
  padding-top:3%;
  margin-left:3%;
  
}

.check{
 background-color: rgb(169, 209, 221);
 border: 1px solid rgb(134, 134, 133);
 width: 60%;
 height: 280px;
 margin-left: 20%;
 margin-right:25%;
  
}

.foot1{
  padding-top: 143px;
}

.plot{
  padding-right:400px;
  margin-top: 5px;
}



@media screen and (max-width:800px){
  
h1{
  font-size: 20px;
}

.pen1{
  padding-left:6%;
}

.page{
  padding-top:5%;
  margin-left:15%;
}

.foot{
  padding-top:58%;
  font-size:13px;
}

.flex-container{
  margin-left: 20%;
  width:100%;
}

.flex-container a{
  margin-left:1%;
}

.flex-container p{
  margin-right:30%;
}

.well1{
  width:100%;
  margin-left:15%;
}

.well1 p{
  padding-left: 28%;
  margin-top:-6%;
}

.well1 button{
  margin-left:5%;
}

.tea{
  margin-right:40%;
}

.endfooter{
  padding-top:41%;
  font-size:13px;
  padding-left:10px;
}

.admintable table{
  margin-right: 10px;
  border-radius: 3px;
  padding: 16px;
  width:60%;
  font-size:13px;
  font-weight:bold;
  margin-left:5%; 
  margin-top:2%;
}

.admintable td,th{
padding: 4px;
font-size:13px;
font-weight:bold;

}
.admintable table button{
font-size: 13px;
padding: 5px 12px;
border-radius: 2px;

}

.bottom {
  margin-top:18%;
  margin-left:2%;
  font-size:13px;
}

.menu{
  padding-top:3px;
  
}

.menu ul{
  height:50px;
  margin-top:1px;
  padding-left: 5px;
  
 }

.menu ul li a{
 padding-right: 10px;
 padding-top: 10px;
 font-size:13px;
 
}

.list2{
  font-size:14px;
  width:80%;
  padding-right:22%;
  font-weight:bold;
 
}

.check{
 width: 90%;
 height: 300px;
 margin-left: 3%;
 margin-right:25%;
 margin-top:5%;
   
}

.foot1 {
  padding-top: 33%;
  font-size:13px;
}

.flag{
  padding-bottom:3px;
  font-size:15px;
  padding-left:150px;
}
.intervene table{
  border-radius: 4px;
  padding: 10px;
  width:160%;
  font-size:13px;
  margin-left:2%; 
  margin-top:1%;
  
}
 .intervene td,th{
  padding: 8px;
  font-weight:bold;
  font-size:13px;
    
}

.recs1{
  padding-top:25%;
  font-size:13px;
}

.flag1 table{
  border-radius: 4px;
  padding: 10px;
  width:180%;
  font-size:12px;
  font-weight: bold;
  margin-left:0%; 
  margin-top:1%;
      
 }
 .flag1 td,th{
  padding: 5px;
  font-size:13px;
  font-weight:bold;
  }

  .flag1 table button{
  font-size: 10px;
  padding: 8px 20px;
  border-radius: 3px;
   
 }

 .recs{
   font-size:12px;
   margin-top:5%;
 }

 .photo{
  padding-left:100px;
  
}

.photo1{
  padding-left:30px;
  
}

.count{
  padding-top:60%;
}

.counter1{
  float:left;
  padding-left:15px;
  font-size:13px;
}

.counter2{
  float:right;
  font-size:13px;
  padding-left:5px;
}

.fill1{
  margin-top:-79%;
  
}

.fill1 input {
  width:200%;
}

.fill1 button{
  padding:6px;
  margin-top:2px;
  width:70%;
  margin-left:68%;
}

.fill2{
  padding-right:160px;
  margin-top: -170%;
}

.fill3{
  margin-top:-670px;
  padding-right:150px;
  
}

.fill3 table{
  margin-right: 72px;
  border-radius: 4px;
  padding: 18px;
  width:100%;
  font-size:13px;
  margin-left:38%; 
            
}

.fill3 td,th{
padding: 5px;
font-size:13px;

}

.set{
  padding-top:450px;
  padding-left:80px;
  
}

.list{
  padding-left:60px;
  
}
.list p{
  padding-left:70px;
  width:95%;
  
}

.feet{
  font-size:13px;
}

.tablefooter{
  font-size:13px;
  float:right;
  padding-right:15px;
}

}














  
