<!DOCtype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Home Page|Home</title>
  <link rel="stylesheet" href="../css/style.css">
</head>


<body id="home">
  
    <h1>iREPORTER</h1>
  
  <div class="pen1">CORRUPTION ALERT PLATFORM</div>


  <div class="page">

    <p>Don't have an account?</p>

    <div class="move5"><a href="./signup.html"><b>Create an account here</b></a></div>

    <p>Already have an account?</p>
    <div class="move3"><a href="./signin.html"><b>Sign in here</b></a></div>
  </div>

</body>

<footer>
  <div class = "foot">
    <b>SendIT,Copyright@joan &copy;2018 </b> </div>
</footer>

</html>