<!DOCtype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interventions Page|Interventions</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body id="signup">

  <h1>iREPORT</h1>

  <div class="menu">
    <ul>

      <li><a href="index.html">Home</a></li>
      <li><a href="./profile.html">Your Profile</a></li>
      <li><a href="./records.html">Red Flags</a></li>
      <li><a href="./notifications.html">Notifications</a></li>
      <li><a href="./signin.html">Log Out</a></li>

    </ul>
  </div>
  <div class="flag">INTERVENTIONS <br /></div>
  <div id="table-wrapper">
    <div class="intervene">
      <table>
        <tr>
          <th><b>INTERVENTION No.</b></th>
          <th><b>UPLOAD VIDEO/IMAGE</b></th>
          <th><b> DESCRIPTION</b></th>
          <th><b> LONGITUDE</b></th>
          <th><b> LATITUDE</b></th>
          <th> <b>SUBMIT </b> </th>
          <th> <b>DELETE</b></th>



        </tr>

        <tr>
          <td>1</td>
          <td><img src="../static/images/flood.jpg" height="100px" width="100px"></td>
          <td>Heavy rains have flooded houses in Bwaise. Government
            should send some help.</td>
          <td>0.3507° N</td>
          <td>32.5585° E</td>
          <td><button><b>Edit</b></button></td>
          <td><button><b>Delete</b></button></td>


        </tr>

        <tr>
          <td>2</td>
          <td><img src="../static/images/rob.jpg" height="100px" width="100px"></td>
          <td>Robbery in progress.Thugs entered DFCU Bank at Crane Chambers
            in Kampala and are holding clients hostage.</td>
          <td>0° 20' 51.3456'' N</td>
          <td>32° 34' 57.0720'' E</td>
          <td><button><b>Edit</b></button></td>
          <td><button><b>Delete</b></button></td>

        </tr>

        <tr>
          <td>3</td>
          <td><img src="../static/images/riot.jpg" height="100px" width="100px"></td>
          <td>Riots happening right now in Mbale. Police should apprehend rioters
            before mass property is damaged.</td>
          <td>1°04'50.0"N</td>
          <td>34°10'30.0"E</td>
          <td><button><b>Edit</b></button></td>
          <td><button><b>Delete</b></button></td>

        </tr>


        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td><button><b>Edit</b></button></td>
          <td><button><b>Delete</b></button></td>

        </tr>
      </table>

    </div>
  </div>

</body>
<footer>
  <div class="recs1">
    <b>iReport,Copyright@joan &copy;2018 </b> </div>
</footer>

</html>