<!DOCtype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notifications Page|Notifications</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body id="signup">

    
        <h1>iREPORT</h1>
    
    <div class="menu">
        <ul>

            <li><a href="index.html">Home</a></li>
            <li><a href="./profile.html">Your Profile</a></li>
            <li><a href="./records.html">Red Flags</a></li>
            <li><a href="./intervention.html">Intervention Records</a></li>
            <li><a href="./signin.html">Log Out</a></li>

        </ul>
    </div>

    <div class="check">

     <div class="list2">
      <b>NOTIFICATIONS</b>
      <p>- Red Flag No.1 was resolved.</p>
      <p>- Red Flag No.2 is under investigation</p>
      <p>- The status of red flag no.1 was changed from "under investigation" to "resolved".</p>
      <p>- It has been 14 days since you last entered a red flag.</p>
   
     </div>
    </div>

   </body>

   <footer>
       <div class="foot1">
           <b>iReport,Copyright@joan &copy;2018 </b> </div>
       
   </footer>
   
   </html>