<!DOCtype html>
<html>

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Profile Page|Profile</title>
 <link rel="stylesheet" href="../css/style.css">
</head>

<body id="signup">


 <h1>iREPORT</h1>

 <div class="menu">
  <ul>

   <li><a href="index.html">Home</a></li>
   <li><a href="./records.html">Red Flags</a></li>
   <li><a href="./notifications.html">Notifications</a></li>
   <li><a href="./signin.html">Log Out</a></li>

  </ul>
 </div>

 <div class="photo">
  <img src="../static/images/photo2.jpg" style="width:150px;height:150px">
  <br />
  <div class="photo1">Upload photo</div>
 </div>


 <div class="fill">
  <div class="count">
   <div class="counter1">
    <b>Red Flags resolved</b>
    <span class="counter"><b>3</b></span>
   </div>

   <div class="counter2">
    <b>Red Flags under investigation</b>
    <span class="count1"><b>1</b></span>
   </div>

  </div>


  <div class="list">
   <div class="set">Settings<br /></div>
   <input type="checkbox" id="edit profile"><p> Edit Profile </p>
   <input type="checkbox" id="change password"><p> Change Password</p>
   <input type="checkbox" id="enable/diasble notifications"><p> Enable notifications </p>
   <input type="checkbox" id="messages"><p>Forward messages to my email </p>
   <input type="checkbox" id="texts"><p> Send me text messages </p>
   <input type="checkbox" id="delete"><p>Delete Account </p>

  </div>

  <div class="fill1">
   <label>Name</label><br/>
   <input type="name" placeholder="Name"><br/>

   <label>Email</label><br/>
   <input type="name" placeholder="Email"><br/>

   <label>Phone No. </label> <br/>
   <input type="number" placeholder="Enter phone no."> <br/>

   <button><b>Save</b></button>
  </div>


  <div class="fill2">
   <p>List of Red Flags</p>
  </div>

  <div class="fill3">


   <table>
    <tr>
     <th><b> RECORD No.</b></th>
     <th><b>RED FLAG</b></th>
     <th><b> INTERVENTION</b></th>
     <th><b>STATUS</b></th>

    </tr>

    <tr>
     <td>1</td>
     <td>Executive Director embezzled Ugx 3 billion</td>
     <td>Apprehended at Kenya/Uganda Border</td>
     <td>Resolved</td>

    </tr>

    <tr>
     <td>2</td>
     <td>Minister of Trade abusing labour laws</td>
     <td>Arrested by Uganda Police</td>
     <td>Under Investigation</td>

    </tr>
    <tr>
     <td>3</td>
     <td>Hooligans hired by tycoon Mr. Muhumuza to burn down Nakasero Market</td>
     <td>Police sent out to look for Mr. Muhumuza</td>
     <td>Rejected</td>

    </tr>


    <tr>
     <td>4.</td>
     <td>Floods in Bwaise washed away 30 houses</td>
     <td>Officials from the Ministry of Disaster Preparedness sent to Bwaise</td>
     <td>Under Investigation</td>

    </tr>


    <tr>
     <td>-</td>
     <td>-</td>
     <td>-</td>
     <td>-</td>


    </tr>

   </table>
  </div>

</body>

<footer>
 <div class="tablefooter">
  <b>iReport,Copyright@joan &copy;2018 </b> </div>

</footer>

</html>