<!DOCtype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Records Page|Red Flags</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body id="signup">
   
        <h1>iREPORT</h1>
    
    <div class="menu">
        <ul>

            <li><a href="index.html">Home</a></li>
            <li><a href="./profile.html">Your Profile</a></li>
            <li><a href="./notify.html">Notifications</a></li>
            <li><a href="./signin.html">Log Out</a></li>

        </ul>
    </div>
           <div class ="flag">RED FLAGS(UPLOAD VIDEOS AND IMAGES)<br/></div>
                         
                        

                    <div class ="wrap">
                        <video width="200" height="200" controls>
                            <source src="https://www.youtube.com/watch?v=g-Svj0Y5R-E" type="video/mp4">
                        </video>
                        
                        <p>
                            Video courtesy of
                            <a href="https://www.youtube.com/channel/UCwPfIFyF96O5sCFQQvJQRfQ" target="_blank">NBS TV Uganda</a>
                        </p>
                        
                        
                        
                        <video width="200" height="200" controls>
                            <source src="https://www.youtube.com/watch?v=zL3JvbUuNow" type="video/mp4">
                        </video>
                        <p>
                            Video courtesy of
                            <a href="https://www.youtube.com/results?search_query=ntv+uganda" target="_blank">NTV Uganda</a>
                        </p>
                        
                        <video width="200" height="200" controls>
                            <source src="https://www.youtube.com/watch?v=hwpbkkKNEXA" type="video/mp4">
                        </video>
                        <p>
                            Video courtesy of
                            <a href="https://www.youtube.com/results?search_query=ntv+uganda" target="_blank">NTV Uganda</a>
                        </p>
                        
                        <video width="200" height="200" controls>
                            <source src="https://www.youtube.com/watch?v=NXnO5MPZjqc" type="video/mp4">
                        
                        </video>
                        <p>
                            Video courtesy of
                            <a href="https://www.youtube.com/results?search_query=ntv+uganda" target="_blank">NTV Uganda</a>
                        </p>
                        
                        
                        <img src="../static/images/kampala.jpg" width="200" height="200"> <br/>

                        <img src="../static/images/entebbe.jpg" width="200" height="200">

                    </div>
 <div class ="coordinates">
                    <label>Latitude</label><br/>
                    <input type="name" placeholder="Latitude"><br/>
                 
                    <label>Longitude</label> <br/>
                    <input type="name" placeholder="Longitude"> 
                 
                    <button><b>Submit</b></button>

</div>
                        
                        
                        </body>
                        
                        <footer>
                            <div class="menufoot">
                                <b>iReport,Copyright@joan &copy;2018 </b> </div>
                        
                        </footer>
                        
                        </html>