<!DOCtype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sign Up Page|Sign Up</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body id="signup">
  
  <h1>iREPORTER</h1><br/>

  <div class="signup1">SIGN UP HERE </div>

  <form>
  
   <div class="flex-container">
        <label>Email</label>
        <input type="text" name="Email">
        <label>Username</label>
        <input type="text" name="Username">
        <label>Password</label>
        <input type="password" name="Password">
        <label>Confirm Password</label>
        <input type="password" name="Confirm Password">
  
        <select>
          <option value="admin">As Admin</option>
          <option value="User">As User</option>
        </select><br/>
  
        <a href="./signin.html"><b>Sign Up</b></a>
  
      <p><b>I agree to the iReporter terms and conditions.</b></p>
     <div class ="login">
      <p><b>If you already have an account,<a href="./signin.html">Sign in here</b></p></a>      
     </div>
   

  </form>
  </body>
  
  <footer>
    <div class="feet">
      <b>iReporter,Copyright@joan &copy;2018 </b></div>
    
  </footer>
  
  </html>